@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*,
*::before,
*::after {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content:center;
	background-color: #00181a;
	font-family: 'Ubuntu', sans-serif;
	height: 100vh;
}

#board {
	display: grid;
	grid-template-rows: 0.5fr 0.5fr repeat(3, 1fr) 0.8fr;
	grid-template-columns: repeat(3, 1fr);
	width: min(20em, 100vw);
	height: min(33em, 100vh);
	gap: 1em;
}

.winner {
	grid-area: 2/1/3/4;
	font-size: 2.2em;
	color:chartreuse;
	text-align: center;
}

img {
	width: 1em;
	height: 1em;
}

.winner > img {
	position: relative;
	top: 0.2em;
	width: 1.2em;
	height: 1.2em;
}

.vs {
	width: 1.5em !important;
	height: 1.5em !important;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.box,
.restart,
.undo,
.reset,
.wincell {
	font-size: 3em;
	background-color: hsl(184, 100%, 10%);
	border-radius: 0.5em;
	box-shadow: 1px 8px 0px 0px hsl(184, 100%, 3%);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.wincell {
	/* background-color:aqua; */
	border: 0.2em solid chartreuse;
}

.stats {
	padding: 0em 1em;
	height: 70%;
	border-radius: 0.6em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	color:hsl(184, 100%, 10%);
	box-shadow: 1px 8px 0px 0px hsl(184, 100%, 3%);
}

.points {
	padding: 0em 1.5rem;
	font-size: 1.6em;
}

.stats[value="X"] {
	background-color: #00ffff;
}
.stats[value="Ties"] {
	background-color: rgb(82, 136, 136);
}
.stats[value="O"] {
	background-color: rgb(237, 212, 17);
}

.restart, 
.reset,
.undo {
	font-size: 1.3em;
	font-weight: 700;
	color:hsl(184, 100%, 10%);
	background-color: chartreuse;
}
